* {
    padding: 0;
    margin: 0;
}

.title {
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #3C295B;
    color: white;
    font-family: Verdana;
    
}

.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dice-container {
    width: 35%;
    height: 35vw;
    max-height: 60vh;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 25%;
}

td.number {
    font-size: 2rem;
    height: 100%;
}

td.goal-td {
    font-size: 2.5rem;
    cursor: default;
}

td {
    border: 2px solid white;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.1s ease-in;
    user-select: none;
}

td.goal-td {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.goal-operator {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 20px;
    color: black;
    font-weight: bold;
}

td.operator {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

td.addition-operator {
    background-color: rgb(255, 185, 54);
    color: white;
}

td.subtraction-operator {
    background-color: rgb(58, 94, 255);
    color: white;
}

td.multiplication-operator {
    background-color: rgb(255, 0, 0);
    color: white;
    border-bottom-left-radius: 15px;
}

td.division-operator {
    background-color: rgb(0, 255, 21);
    color: white;
    border-bottom-right-radius: 15px;
}

.numpad-container {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    width: 300px;
    
    text-align: center;
}

.numpad-numbers {
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 250px;
}

.numpad-numbers > button {
    padding: 5px;
    margin: 5px;
    width: calc(33%-30px);
    box-sizing: border-box;
}

button {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: greenyellow;
    border: 2px solid green;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.points {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bold;
    font-size: 1rem;
}